@mixin flexProperty {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.base{
    @include flexProperty;
    .app{
        background-color: lightcoral;
        width: 60%;
        margin: 0 auto;
        padding-bottom:2rem;
    }
}


.todo{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 2rem;
    background-color: lightgray;
    .todoContent{
        display: flex;
        width: 50%;
        align-self: center;
        justify-content: space-around;
        
    }
    a{
        margin: .3rem 0;
        padding: 1rem 2rem;
        background-color: aqua;
        display: inline-block;
        outline: none;
        box-shadow: 0rem .5rem rgba(grey,.1);
    }
    a:active{
        color: red;
        transform: translateY(.5rem);
        box-shadow: .1rem 0.3rem .1rem 0rem rgba(grey,.1);
    }
}

.strike{
    text-decoration: line-through;
}

form{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    input{
        padding: .8rem 2rem;
        margin: 1rem 0 1rem 1rem;
    }
    button{
        align-self: center;
        padding: .8rem 1rem;
    }
}